* {
	font-family: 'thaisans_neue_lightregular', sans-serif !important;
}

#locker-list  {
	display: block;
	margin: 0 auto;
	font-size: 0;
	padding: 0;
}

.row {
	display: block;
	margin: 0 auto;
	text-align: left;
}

#locker-list .locker {
	border: 1px solid white;
	margin: 0 auto;
	min-width: 60px;
	max-width: 72px;
	display: inline-block;
	text-align: center;
	font-size: 17px;
	line-height: 50px;
}

.locker a {
	background-color: #1DE9B6; /* 64DD17 */
	text-decoration: none;
	display: block;
	color: white;
}
.locker.reserved a {
	background-color: #E0F2F1; /* 64DD17 */
}

.reserved {
	background-color: #F5F5F5; /* FF5252 */
	color: #BDBDBD;
}

.button-group {
	margin-top: 20px;
	text-align: right;
}

.card .item {
	font-size: 17px;
}


.bar-subheader {
	text-align: center;
	font-size: 17px;
	line-height: 44px;
	border: 0;
}