<ion-view title="เข้าใช้งานล็อกเกอร์">
	<ion-content class="has-header">
		<div class="card">
			<div class="item item-text-wrap">
				<div>เข้าใช้งานตู้ล็อกเกอร์ได้โดยแตะบัตรนักศึกษาที่อุปกรณ์อ่านบัตร</div>
				<button ng-click="open()" class="button button-outline button-balanced">เปิด</button>
				<button ng-click="close()" class="button button-outline button-balanced">ปิด</button>
				<button ng-click="showReleaseConfirm()" class="button button-outline button-balanced">เลิกใช้</button>
			</div>
		</div>
	</ion-content>
</ion-view>
